@font-face {
  font-family: "black_jackregular";
  src: url("fonts/blackjack-webfont.eot");
  src: url("fonts/blackjack-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blackjack-webfont.woff2") format("woff2"), url("fonts/blackjack-webfont.woff") format("woff"), url("fonts/blackjack-webfont.ttf") format("truetype"), url("fonts/blackjack-webfont.svg#black_jackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dustismo_bold_italic";
  src: url("fonts/dustismo_bold_italic-webfont.eot");
  src: url("fonts/dustismo_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/dustismo_bold_italic-webfont.woff2") format("woff2"), url("fonts/dustismo_bold_italic-webfont.woff") format("woff"), url("fonts/dustismo_bold_italic-webfont.ttf") format("truetype"), url("fonts/dustismo_bold_italic-webfont.svg#dustismo_bold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Croissant One Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Croissant One Regular"), url("fonts/CroissantOne-Regular.woff") format("woff");
}
@font-face {
  font-family: "nimbus_roman_no9_lbold";
  src: url("fonts/NimbusRomNo9L-Med-webfont.eot");
  src: url("fonts/NimbusRomNo9L-Med-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/NimbusRomNo9L-Med-webfont.woff2") format("woff2"), url("fonts/NimbusRomNo9L-Med-webfont.woff") format("woff"), url("fonts/NimbusRomNo9L-Med-webfont.ttf") format("truetype"), url("fonts/NimbusRomNo9L-Med-webfont.svg#nimbus_roman_no9_lbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "acmeregular";
  src: url("fonts/Acme-Regular-webfont.eot");
  src: url("fonts/Acme-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Acme-Regular-webfont.woff2") format("woff2"), url("fonts/Acme-Regular-webfont.woff") format("woff"), url("fonts/Acme-Regular-webfont.ttf") format("truetype"), url("fonts/Acme-Regular-webfont.svg#acmeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("fonts/KaushanScript-Regular.eot");
  src: url("fonts/AKaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/KaushanScript-Regular.woff2") format("woff2"), url("fonts/KaushanScript-Regular.woff") format("woff"), url("fonts/KaushanScript-Regular.ttf") format("truetype"), url("fonts/KaushanScript-Regular.svg#acmeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlexBrush-Regular";
  src: url("fonts/AlexBrush-Regular.eot");
  src: url("fonts/AlexBrush-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/AlexBrush-Regular.woff2") format("woff2"), url("fonts/AlexBrush-Regular.woff") format("woff"), url("fonts/AlexBrush-Regular.ttf") format("truetype"), url("fonts/AlexBrush-Regular.svg#acmeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sansitalic";
  src: url("fonts/persansi-webfont.eot");
  src: url("fonts/persansi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persansi-webfont.woff2") format("woff2"), url("fonts/persansi-webfont.woff") format("woff"), url("fonts/persansi-webfont.ttf") format("truetype"), url("fonts/persansi-webfont.svg#perspective_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}
@keyframes PtsSuspensions {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page {
  height: auto;
}

header {
  background-color: #579C87;
  color: #FDCB46;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 70px;
}

.menu_sec {
  display: flex;
  max-width: 1280px;
  justify-content: space-around;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5%;
}
.menu_sec a {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.menu_sec a:hover {
  transform: scale(1.15);
  opacity: 65%;
}

.menu1 {
  background-color: #FCDFDB;
  display: flex;
  height: 700px;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
}
.menu1 h2 {
  font-size: 35px;
  font-family: "black_jackregular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #3C1218;
}
.menu1 h3 {
  font-size: 65px;
  padding-left: 40px;
  font-family: "dustismo_bold_italic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #3C1218;
}
.menu1 .fa-music {
  padding-left: 90px;
  font-size: 50px;
  background: -webkit-linear-gradient(bottom left, #F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 {
  background-color: #FFF5FE;
  display: flex;
  height: 700px;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
}
.menu2 h2 {
  font-size: 30px;
  font-family: "Croissant One Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(bottom right, #905BFD, #CE7D4E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 h3 {
  font-size: 65px;
  padding-left: 90px;
  font-family: "nimbus_roman_no9_lbold", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #C77412;
}

.menu3 {
  background-color: #F9F9F9;
  display: flex;
  height: 700px;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
}
.menu3 h2 {
  font-size: 50px;
  font-family: "AlexBrush-Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(left, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 h3 {
  font-size: 55px;
  padding-left: 100px;
  font-family: "acmeregular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #0887FB;
}

.menu4 {
  background-color: #FDFFFD;
  display: flex;
  height: 700px;
  width: 40%;
  justify-content: center;
  align-items: center;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
}
.menu4 h2 {
  font-size: 45px;
  font-family: "KaushanScript-Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(left, #4C9F42, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 h3 {
  font-size: 55px;
  padding-left: 95px;
  font-family: "acmeregular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  color: #72BF56;
}

button {
  width: 35%;
  height: 90px;
  background-color: #549c84;
  color: #fdcb46;
  font-size: 50px;
  border-radius: 21px;
  border: none;
}
button span {
  animation: PtsSuspensions;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
button span:nth-child(2) {
  animation-delay: 300ms;
}
button span:nth-child(3) {
  animation-delay: 600ms;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
}

footer {
  background-color: #579C87;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 2px solid #a1c181;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  text-decoration: none;
  color: #FDCB46;
  padding-right: 70px;
  padding-left: 70px;
}
footer a:hover {
  animation: wiggle 2.5s infinite;
}

.sec-one {
  background-color: #FCDFDB;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 1200px;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
}
.sec-one .fa-music {
  padding-left: 100px;
  font-size: 50px;
  background: -webkit-linear-gradient(bottom left, #F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-one h2 {
  font-family: "black_jackregular";
  font-size: 40px;
}
.sec-one .headlines {
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;
}
.sec-one .headlines img {
  padding-bottom: 10px;
  max-width: 38%;
}
.sec-one .headlines h3 {
  font-size: 28px;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
}
.sec-one .headlines h3 a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, black 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
.sec-one .headlines h3 a:hover {
  background-size: 100% 100%;
}
.sec-one .text-one {
  display: flex;
  flex-direction: column;
  width: 83%;
  text-align: justify;
  justify-content: center;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 15px;
}
.sec-one .price_end {
  display: flex;
  float: right;
  width: auto;
  font-size: 21px;
}

.foothead {
  display: flex;
  align-items: center;
}
.foothead .fa-music {
  padding-left: 10px;
  font-size: 50px;
  background: -webkit-linear-gradient(bottom left, #F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foothead h3 {
  padding-left: 15px;
  font-family: "black_jackregular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 40px;
}

.sec-two {
  background-color: #FFF5FE;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 1200px;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
.sec-two h2 {
  font-size: 30px;
  font-family: "Croissant One Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(bottom right, #905BFD, #CE7D4E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-two .headlines {
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;
  padding-top: 70px;
}
.sec-two .headlines img {
  max-width: 35%;
  padding-top: 10px;
}
.sec-two .headlines h3 {
  font-size: 20px;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
}
.sec-two .headlines h3 a {
  color: inherit;
  background: linear-gradient(to top, #C67412 0%, #C67412 2px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
  text-decoration: none;
}
.sec-two .headlines h3 a:hover {
  background-size: 100% 100%;
}
.sec-two .text-one {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: justify;
  justify-content: center;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
.sec-two .price_end {
  display: flex;
  float: right;
  width: auto;
  font-size: 21px;
}

.color1 {
  color: #C67412;
}

.color2 {
  color: #A56799;
}

.color3 {
  color: #6E4CCC;
}

#linecolorone a {
  color: #C67412;
  background: linear-gradient(to top, #C67412 0%, #C67412 2px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
#linecolorone a:hover {
  background-size: 100% 100%;
}

#linecolortwo a {
  color: #A56799;
  background: linear-gradient(to top, #A56799 0%, #A56799 2px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
#linecolortwo a:hover {
  background-size: 100% 100%;
}

#linecolorthree a {
  color: #6E4CCC;
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 2px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
}
#linecolorthree a:hover {
  background-size: 100% 100%;
}

.sec-three {
  background-color: #F9F9F9;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 1200px;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.sec-three h2 {
  font-size: 80px;
  font-family: "AlexBrush-Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(left, #0431DF, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-three .headlines {
  display: flex;
  align-items: center;
  width: 87%;
  justify-content: space-between;
}
.sec-three img {
  max-width: 30%;
  padding-top: 10px;
}
.sec-three h3 {
  font-size: 25px;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
}
.sec-three h3 a {
  color: inherit;
  background: linear-gradient(to top, black 0%, black 2px, transparent 5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
  text-decoration: none;
}
.sec-three h3 a:hover {
  background-size: 100% 100%;
}
.sec-three .text-one {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: justify;
  justify-content: center;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
.sec-three .price_end {
  display: flex;
  float: right;
  width: auto;
  font-size: 21px;
}

.sec-four {
  background-color: #FDFFFD;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 5px 5px #EDEDED;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 1200px;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.sec-four h2 {
  font-size: 65px;
  font-family: "KaushanScript-Regular", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  background: -webkit-linear-gradient(left, #4C9F42, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-four .headlines {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding-top: 20px;
}
.sec-four img {
  max-width: 38%;
  padding-top: 10px;
}
.sec-four h3 {
  font-size: 20px;
  font-family: "perspective_sansitalic", Arial, Helvetica, sans-serif, "Times New Roman", Times, serif, "Segoe UI", Tahoma, Verdana, sans-serif;
}
.sec-four h3 a {
  color: inherit;
  background: linear-gradient(to top, black 0%, black 2px, transparent 4px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.5s;
  text-decoration: none;
}
.sec-four h3 a:hover {
  background-size: 100% 100%;
}
.sec-four .text-one {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: justify;
  justify-content: center;
  font-family: "perspective_sansitalic";
  font-size: 15px;
  padding-top: 30px;
}
.sec-four .price_end {
  display: flex;
  float: right;
  width: auto;
  font-size: 21px;
}

.mention {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 1200px;
  background-color: #c8ad7f;
  border: 1px solid #F1F1F1;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.mention h2 {
  font-size: 50px;
  text-align: center;
}
.mention h3 {
  font-size: 30px;
  padding-left: 15px;
}
.mention .text_mention {
  font-size: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 1100px) {
  .menu_sec {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

  .menu1 {
    width: 80%;
    height: 1200px;
    margin-bottom: 55px;
  }
  .menu1 .fa-music {
    font-size: 70px;
    padding-left: 120px;
  }
  .menu1 h2 {
    font-size: 50px;
  }
  .menu1 h3 {
    text-align: center;
    padding-left: 16px;
  }

  .menu2 {
    width: 80%;
    height: 1200px;
  }
  .menu2 h2 {
    text-align: center;
    font-size: 44px;
  }
  .menu2 h3 {
    padding-left: 180px;
  }

  .menu3 {
    width: 80%;
    height: 1200px;
    margin-bottom: 55px;
  }
  .menu3 h2 {
    text-align: center;
    font-size: 65px;
  }
  .menu3 h3 {
    padding-left: 160px;
  }

  .menu4 {
    width: 80%;
    height: 1200px;
  }
  .menu4 h2 {
    font-size: 60px;
  }
  .menu4 h3 {
    padding-left: 150px;
  }

  button {
    width: 70%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  footer {
    width: auto;
    justify-content: space-around;
  }
  footer p {
    font-size: 30px;
  }

  .sec-one {
    width: auto;
    height: auto;
  }
  .sec-one h3 {
    font-size: 34px;
    text-align: center;
  }
  .sec-one .text-one {
    font-size: 28px;
  }
  .sec-one .price_end {
    font-size: 33px;
  }

  .sec-two {
    width: auto;
    height: 1700px;
  }
  .sec-two img {
    width: 30%;
  }
  .sec-two h3 {
    text-align: center;
  }
  .sec-two h3 a {
    font-size: 30px;
  }
  .sec-two .text-one {
    font-size: 27px;
  }
  .sec-two .price_end {
    font-size: 32px;
  }

  .sec-three {
    width: auto;
    height: 1650px;
  }
  .sec-three h2 {
    text-align: center;
  }
  .sec-three h3 {
    text-align: center;
    font-size: 34px;
  }
  .sec-three .text-one {
    font-size: 27px;
  }
  .sec-three .price_end {
    font-size: 34px;
  }

  .sec-four {
    width: auto;
    height: 1900px;
  }
  .sec-four h2 {
    font-size: 55px;
  }
  .sec-four h3 {
    text-align: center;
    font-size: 36px;
  }
  .sec-four .text-one {
    font-size: 28px;
  }
  .sec-four .price_end {
    font-size: 32px;
  }

  .mention {
    width: auto;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
